<h2 class='text-center text-xl font-bold text-lime-500'>Dashboard</h2>
<button id='import-playlist-button'>Import Playlist from Spotify</button>
<button id='import-audio-analysis' class='mt-5'>Import Audio Analysis</button>
<p>{{user.display_name}}</p>



<div class="flex flex-row space-x-10 justify-center pl-20 pr-20">
  {{#each playlists as |playlist|}}
    <a href='/playlist' class="basis-1/3 p-8 rounded-lg bg-indigo-800 hover:bg-indigo-500">
      <h2 class='px-8 text-4xl text-center font-bold text-amber-500'>{{playlist.title}}</h2>

      <div class="flex flex-col space-y-2">
        {{#each (limit playlist.songs 15) as |song|}}
          <div class="flex flex-row justify-between">
            <p class='text-lg font-semibold text-sky-400'>{{song.title}}</p>
            <p class='text-base font-light text-sky-500'>{{song.artist}}</p>
          </div>
        {{/each}}
      </div>
    </a>
  {{/each}}
</div>

    

<div class='flex flex-row'>
  <a href='/song-search' class=''>Add a Song</a>
</div>

<script src='/js/dashboard.js'></script>
<script src='../public/js/css/input.css'></script>
<script src='anime.min.js'></script>