<form id='song-search'>
  <input type='text' name='songName' />
  <label for='songName'>Song Name</label>
  <input type='text' name='artistName' />
  <label for="'artistName">Artist Name</label>
  <input type='submit' />
</form>

<script src='/js/musixmatch.js'></script>