
<body
  class='bg-gradient-to-r from-fuchsia-800 from-20% via-violet-800 via-50% to-indigo-800 to-80% grid h-screen place-items-center cursor-pointer'
  onclick="location.href='{{authorizeURL}}';"
>
  <h1 class='text-9xl text-center mx-auto text-amber-800 header'>MeloRE:</h1>
  <script>
var textWrapper = document.querySelector('.header');
textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

var rollOverAnimation = anime.timeline()
  .add({
    targets: '.header .letter',
    opacity: [0, 1],
    easing: "easeInOutQuad",
    duration: 2250,
    delay: (el, i) => 150 * (i + 1)
  });
  
rollOverAnimation.finished.then(() => {
  anime({
    targets: '.header',
    opacity: [1, 0.5, 1],
    scale: [1, 1.5, 1],
    duration: 1000,
    easing: 'easeInOutQuad',
    direction: 'alternate',
    loop: true
  });
});
</script>

</body>
